* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e3f2fd;
}

/* HEADER */
header {
    background: #0288d1;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV FIJO */
nav {
    background: #004d40;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background: #26a69a;
    border-radius: 5px;
}

/* CONTENIDO CENTRADO */
main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

/* SECCIONES */
section {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #0288d1;
    margin-bottom: 10px;
}

img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

/* GALERÍA */
.galeria {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* BOTÓN */
.btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #0288d1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #26a69a;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #004d40;
    color: white;
    margin-top: 20px;
}
